.tweet-input-container {
  position: relative;
  height: 180px;
  width: 500px;
  margin-top: 15px;
}

.tweet-input-area {
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: #282c34;
  border: white solid 2px;
  border-radius: 5px;
  color: white;
  font-size: large;
  resize: none;
}

.tweet-submit-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(21, 122, 246);
  height: 30px;
  width: 60px;
  margin: 10px;
  color: whitesmoke;
}

.tweet-submit-button:hover {
  cursor: pointer;
}

.tweet-submit-button:disabled {
  background-color: rgba(21, 122, 246, 0.532);
  color: grey;
  cursor: default;
}
